server:
  port: 9191
spring:
  datasource:
    driver-class: org.h2.Driver
    url: jdbc:h2:mem:dbzhh
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
